<ion-view view-title="">
  <ion-content>
      <div class="list">
        <div class="item item-input item-stacked-label">
          <span class="input-label">Account Name</span>
          <input type="text" placeholder="Account" id="account-name">
        </div>
        <div class="item item-input item-stacked-label">
          <span class="input-label" >Account Type</span><br />
          <div class="div-account-type" ng-click="accountSelect()"><span id="account-type">Current</span><i class="ion-ios-arrow-down pad-right"></i></div>
        </div>
        <div class="item item-input item-stacked-label">
          <span class="input-label">ID</span>
          <input type="number" placeholder="example@accounts.com" id="account-id">
        </div>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="insertAccount()">
          Save Account
        </button>
      </div>
      <script id="modal-account-type" type="text/ng-template">
  <ion-modal-view>
  <ul class="list">
    <li class="item" ng-click="selectAccountType('Current')">Current</li>
    <li class="item" ng-click="selectAccountType('Savings')">Savings</li>
    <li class="item" ng-click="selectAccountType('Other')">Other</li>
  </ul>
  </ion-modal-view>
</script>
  </ion-content>
</ion-view>
