<ion-view view-title="" id="transactions">
  <ion-content>
    <div id="transaction-list">
      <div class="transaction row" ng-repeat="trans in transactions">
        <div class="col-xs-12 col-sm-1 col-md-1 trans-date">{{trans.date}}</div>
        <div class="col-xs-8 col-sm-7 col-md-9"><i class="icon-2 {{trans.icon}} padding-2"></i>{{trans.description}}</div>
        <div class="col-xs-2 col-sm-2 col-md-1">{{trans.value}}</div>
        <div class="col-xs-2 col-sm-2 col-md-1">{{trans.accountBalance}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>