<ion-view view-title="">
  <ion-content>
    <div id="account-info">
      
    </div>
    <div id="transaction-list">
      <div class="transaction row">
        <div class="col-xs-12 col-sm-1 col-md-1 trans-date">2015/10/11</div>
        <div class="col-xs-8 col-sm-7 col-md-9"><i class="icon-2 ion-ios-cart padding-2"></i>Transaction 1</div>
        <div class="col-xs-2 col-sm-2 col-md-1">£100</div>
        <div class="col-xs-2 col-sm-2 col-md-1">£200</div>
      </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>