
.label {
  margin-right: 2em;
}

.account-type {
  font-size: 0.9em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  display: inline-block;
}

.right {
  float: right;
  padding-right: 1em;
}

.modal{
  border-radius: 8px !important;
}

.pad-right {
  padding-left: 0.5em;
}