<ion-view view-title="" id="transactions">
  <ion-content>
    <div id="transaction-list">
      <div class="fl-row transaction" ng-class="trans.isDivider ? 'trans-divider' : ''" ng-repeat="trans in transactionsUI">
        <div ng-if="trans.isDivider" class="col-xs-12">{{ trans.description }}</div> 
        <div ng-if="trans.isTrans" class="col-xs-12 col-sm-12 col-md-1 trans-date" ng-bind="trans.date | date : 'dd/MM/yy'"></div>
        <div ng-if="trans.isTrans" class="col-xs-1 col-sm-1 col-md-1 trans-icon"><i class="icon-2 {{trans.icon.icon}} "></i></div>
        <div ng-if="trans.isTrans" class="col-xs-5 col-sm-7 col-md-8 trans-desc">{{trans.description}}</div>
        <div ng-if="trans.isTrans" class="col-xs-3 col-sm-2 col-md-1 trans-val">£ {{trans.value.toFixed(2)}}</div>
        <div ng-if="trans.isTrans" class="col-xs-3 col-sm-2 col-md-1 bold trans-val">£ {{trans.accountBalance.toFixed(2)}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>